In [22]:
import pandas as pd
import numpy as np

In [57]:
data_path = '../data/'
df = pd.read_csv(data_path + 'ner_dataset.zip', encoding="latin1")

In [135]:
df.head(14).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Sentence #,Sentence: 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Word,Thousands,of,demonstrators,have,marched,through,London,to,protest,the,war,in,Iraq,and
POS,NNS,IN,NNS,VBP,VBN,IN,NNP,TO,VB,DT,NN,IN,NNP,CC
Tag,O,O,O,O,O,O,B-geo,O,O,O,O,O,B-geo,O

In [65]:
sent_idx = df[df['Sentence #'].notna()].index.values

In [123]:
class NERSentence:
    def __init__(self, df, idx_start=0, indicator_var='Sentence #', word_var='Word'):
        self.df = df
        self.i = idx_start
        self.word_var = word_var
        
        self.idx_all = df[df[indicator_var].notna()].index.values
        self.idx_a = self.idx_all[self.i]
        self.idx_b = self.idx_all[1]
        self.i += 1
        
    def update_sentence_range(self):
        self.i += 1
        self.idx_a = self.idx_b
        self.idx_b = self.idx_all[self.i]
                
    
    def get_next_sentence(self):
        s = ''
        for i in range(self.idx_a, self.idx_b):
            s = s + ' ' + df[i:i+1][self.word_var].values[0]
            
        self.update_sentence_range()
    
        return s

In [127]:
se = NERSentence(df)
se.get_next_sentence()

' Thousands of demonstrators have marched through London to protest the war in Iraq and demand the withdrawal of British troops from that country .'

In [128]:
se.get_next_sentence()

' Families of soldiers killed in the conflict joined the protesters who carried banners with such slogans as " Bush Number One Terrorist " and " Stop the Bombings . "'

In [130]:
from flair.data import Sentence
from flair.models import SequenceTagger

# load the NER tagger
tagger = SequenceTagger.load('ner')

se = NERSentence(df)

for i in range(3):
    # run NER over sentence
    s_next = se.get_next_sentence()
    s = Sentence(s_next)
    tagger.predict(s)
    print('------------\n'+s_next+'\n')
    for entity in s.get_spans('ner'):
        print(entity)

2022-06-22 15:56:07,111 loading file /Users/jason/.flair/models/ner-english/4f4cdab26f24cb98b732b389e6cebc646c36f54cfd6e0b7d3b90b25656e4262f.8baa8ae8795f4df80b28e7f7b61d788ecbb057d1dc85aacb316f1bd02837a4a4
2022-06-22 15:56:08,444 SequenceTagger predicts: Dictionary with 20 tags: <unk>, O, S-ORG, S-MISC, B-PER, E-PER, S-LOC, B-ORG, E-ORG, I-PER, S-PER, B-MISC, I-MISC, E-MISC, I-ORG, B-LOC, E-LOC, I-LOC, <START>, <STOP>
------------
 Thousands of demonstrators have marched through London to protest the war in Iraq and demand the withdrawal of British troops from that country .

Span[6:7]: "London" → LOC (0.9999)
Span[12:13]: "Iraq" → LOC (1.0)
Span[18:19]: "British" → MISC (0.9976)
------------
 Families of soldiers killed in the conflict joined the protesters who carried banners with such slogans as " Bush Number One Terrorist " and " Stop the Bombings . "

Span[18:22]: "Bush Number One Terrorist" → MISC (0.6677)
Span[25:28]: "Stop the Bombings" → MISC (0.963)
------------
 They marched from the Houses of Parliament to a rally in Hyde Park .

Span[4:7]: "Houses of Parliament" → ORG (0.965)
Span[11:13]: "Hyde Park" → LOC (0.9992)

In [144]:
se = NERSentence(df)
se.get_next_sentence()

' Thousands of demonstrators have marched through London to protest the war in Iraq and demand the withdrawal of British troops from that country .'

In [146]:
se.get_next_sentence()

' They marched from the Houses of Parliament to a rally in Hyde Park .'

In [136]:
entity.tag

'LOC'

In [138]:
entity.text

'Hyde Park'

In [149]:
df[54:70]

     Sentence #        Word  POS    Tag
54  Sentence: 3        They  PRP      O
55          NaN     marched  VBD      O
56          NaN        from   IN      O
57          NaN         the   DT      O
58          NaN      Houses  NNS      O
59          NaN          of   IN      O
60          NaN  Parliament   NN      O
61          NaN          to   TO      O
62          NaN           a   DT      O
63          NaN       rally   NN      O
64          NaN          in   IN      O
65          NaN        Hyde  NNP  B-geo
66          NaN        Park  NNP  I-geo
67          NaN           .    .      O
68  Sentence: 4      Police  NNS      O
69          NaN         put  VBD      O

In [143]:
df[2]

     Sentence #      Word  POS Tag
21          NaN      that   DT   O
22          NaN   country   NN   O
23          NaN         .    .   O
24  Sentence: 2  Families  NNS   O
25          NaN        of   IN   O
26          NaN  soldiers  NNS   O
27          NaN    killed  VBN   O