In [1351]:
import pandas as pd
import numpy as np
import spacy

In [1352]:
data_path = '../data/'
df = pd.read_csv(data_path + 'ner_dataset.zip', encoding="latin1")
df.shape

(1048575, 4)

In [1353]:
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

## Preprocess text

In [1354]:
# Keep all numbers, all letters and hyphens
df['tidy_word'] = df['Word'].apply(lambda x: re.sub("[^a-zA-Z0-9\-]", "", x))

In [1355]:
# Remove observations that are now empty
df = df[df['tidy_word'] != '']

# Hyphenated words are kept as a single token
# in this dataset. Remove observations that
# are a between-word dash. This causes problems
# with the algorithm
df = df[df['tidy_word'] != '-']

In [1356]:
# Later steps require a consecutive index
df = df.reset_index()

### Create Sentence Form of Text

We create a new Series where each row is a list with the contents of a sentence. We do this so that it can be more easily sent to Spacy NER.

In [1357]:
def toSentenceForm(df, var):
    """
    From a Series:
    
        Sentence  #      var
        -----------  -------
        Sentence: 1     Mary
                NaN      had
                NaN        a
                NaN   little
                NaN     lamb
                NaN        .
        Sentence: 2       He
                NaN followed
                NaN      her
                
    to a list of lists of strings by sentence:
    
        [['Mary', 'had', 'a', 'little', 'lamb' '.'],
         ['He', 'followed', 'her', ...]]
                                
    """
    sent_out = []

    # Find the index of each sentence start
    idx = df['Sentence #'].isna()
    sent_breaks = df[idx == False].index
    
    
    for i in range(len(sent_breaks)-1):
        
        # Create a list containing all strings
        # from the current sentence
        out = []
        for j in range(sent_breaks[i], sent_breaks[i+1]):
            out.append(df[var].iloc[j])
        
        # Append ith sentence list to the
        # list of all sentences
        sent_out.append(out)

    return sent_out

In [1358]:
sentences = toSentenceForm(df, 'tidy_word')

In [1359]:
tags = toSentenceForm(df, 'Tag')

In [1360]:
se = pd.DataFrame({'sentence_list': sentences, 'tags': tags})

In [1361]:
se.head()

,sentence_list,tags
0,"[Thousands, of, demonstrators, have, marched, ...","[O, O, O, O, O, O, B-geo, O, O, O, O, O, B-geo..."
1,"[Families, of, soldiers, killed, in, the, conf...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
2,"[They, marched, from, the, Houses, of, Parliam...","[O, O, O, O, O, O, O, O, O, O, O, B-geo, I-geo]"
3,"[Police, put, the, number, of, marchers, at, 1...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O]"
4,"[The, protest, comes, on, the, eve, of, the, a...","[O, O, O, O, O, O, O, O, O, O, O, B-geo, O, O,..."

In [1362]:
se.to_csv('../data/ner_sentences.csv')

### Perform NER

Spacy will automatically perform NER when we create a Doc object from a sentence.

Iterate over all words and tags in the Doc object and create lists of tokens and tags

In [1363]:
nlp = spacy.load("en_core_web_sm")

In [1389]:
words = []
spacy_tags = []
doc = nlp(fs)
ctr = 0

# number of iterations between progress report
report_freq = 2500

for row, sentence in enumerate(se['sentence_list']):
    doc = nlp(' '.join(sentence))

    # Print progress report
    if row == int(row / report_freq) * report_freq:
        print(f'{row:10.9g}:\t{se.shape[0]} ({100*row/se.shape[0]:.2f}%)')
    
    # Iterate over tokens in doc
    # and create lists of tokens and tags
    for i, t in enumerate(doc):
        words.append(t)
        if t.ent_iob_ == 'O':
            spacy_tags.append('O')
        else:
            spacy_tags.append(t.ent_iob_+'-'+t.ent_type_)

         0:	47839 (0.00%)
      2500:	47839 (5.23%)
      5000:	47839 (10.45%)
      7500:	47839 (15.68%)
     10000:	47839 (20.90%)
     12500:	47839 (26.13%)
     15000:	47839 (31.36%)
     17500:	47839 (36.58%)
     20000:	47839 (41.81%)
     22500:	47839 (47.03%)
     25000:	47839 (52.26%)
     27500:	47839 (57.48%)
     30000:	47839 (62.71%)
     32500:	47839 (67.94%)
     35000:	47839 (73.16%)
     37500:	47839 (78.39%)
     40000:	47839 (83.61%)
     42500:	47839 (88.84%)
     45000:	47839 (94.07%)
     47500:	47839 (99.29%)

In [1390]:
df_spacy = pd.DataFrame({'Words': words, 'Tags': spacy_tags})

In [1391]:
df_spacy.shape

(981669, 2)

In [1392]:
df_spacy.to_csv('../data/ner_spacy_raw.csv')

In [1393]:
df_spacy.head(7)

           Words        Tags
0      Thousands  B-CARDINAL
1             of           O
2  demonstrators           O
3           have           O
4        marched           O
5        through           O
6         London       B-GPE

In [1394]:
def containsHyphen(s):
    return len(s) > 1 and (s.find('-') > -1)

def findHyphenatedWord(s, s_list, idx):
    return s + s_list[idx+1] + s_list[idx+2]

def findAdditionalHyphens(s, s_list, idx, inc):
        finished = 1
        idx += inc
        if idx < len(s_list) and s_list[idx] == '-':
            s = findHyphenatedWord(s, s_list, idx-1)
            finished = 0
            return (idx, s, finished)
        else:
            return (idx, s, finished)

def findHyphenatedWords(s_list, idx):
    s = s_list[idx]
    s = findHyphenatedWord(s, s_list, idx)
    
    finished = 0  # have we found all connected hyphens?
    increment = 3 # the first additional hyphen is further than
                  # subsequent ones, because the original 'idx'
                  # is pointing at a word, but the after calling
                  # findAdditionalHyphens() 'idx' will point at a
                  # hyphen after the word
                  
    
    while finished == 0:
        idx, s, finished = findAdditionalHyphens(s, s_list, idx, increment)
        increment = 2
                

    return (idx, s)

In [1395]:
a = [ 'apple', 'apple-jacks', 'chocolate', 'coco-puffs-again', 
     'old-mcdonald-had-a-farm']
b = [ 'apple', 'apple', '-', 'jacks', 'chocolate', 'coco', 
     '-', 'puffs', '-', 'again', 'old', '-', 'mcdonald', '-', 'had', 
     '-', 'a', '-', 'farm']

def test_findHyphenatedWords(a, b):
    c = []
    i = 0
    for ai in (a):
        if containsHyphen(ai):
            i, ss = findHyphenatedWords(b, i)
            c.append(ss)
        else:
            c.append(b[i])
            i += 1

    c_cmp = ['apple',
             'apple-jacks',
             'chocolate',
             'coco-puffs-again',
             'old-mcdonald-had-a-farm']

    return c == c_cmp

In [1396]:
assert test_findHyphenatedWords(a, b)

### Align tokens and tags

Spacy breaks up some words differently than our dataset. Below, we create a list of the tokens from our original dataset and their Spacy tags.

In [1401]:
c = []
s_tags = []
i = 0
j = 0
supress_til = 1780
for word in df['tidy_word']:
    if containsHyphen(word):
        # grabbing a bunch of words in case we have to search
        # and grab more tokens from hyphenated words
        sp_word = [w.text for w in df_spacy['Words'].iloc[j:j+9]]
        if sp_word[0] == word:
            sp_tag_tmp = df_spacy['Tags'].iloc[j]
            s_tags.append(sp_tag_tmp)
            c.append(word)
            
            j += 1
        else:
            k = 0
            k, ss = findHyphenatedWords(sp_word, k)
            
            sp_tag_tmp = df_spacy['Tags'].iloc[j]
            s_tags.append(sp_tag_tmp)
            
            j += k
            
            c.append(ss)
    else:
        next_sp_word_ = df_spacy["Words"].iloc[j]
        if len(word) > 1 and word.endswith('.'):
            next_sp_word = df_spacy["Words"].iloc[j+1]
            if next_sp_word.text == '.':
                j += 1
                
        sp_tag_tmp = df_spacy['Tags'].iloc[j]
        s_tags.append(sp_tag_tmp)
        c.append(next_sp_word_.text)
        j += 1
        
    i += 1
    if len(c) == 500000:
        break
        
    if c[-1] != word:
        # try and take care of times where Spacy splits 'wont', 'wed'
        tmpa = df_spacy["Words"].iloc[j]
        tmp = c[-1] + tmpa.text
        if tmp == word:
            c[-1] = tmp
            
        j += 1
            
        print('done')
        print(f'i: {i} j: {j} c: {c[-1:]} word: "{word}", sp_word[0]: "{list(df_spacy["Words"].iloc[j-2:j])}"')
#         break
    last_word = word

done
i: 168074 j: 171909 c: ['wont'] word: "wont", sp_word[0]: "[wo, nt]"
done
i: 189964 j: 194298 c: ['wed'] word: "wed", sp_word[0]: "[we, d]"

In [1402]:
all_spacy_tags = np.unique(s_tags)
print(all_spacy_tags)

['B-CARDINAL' 'B-DATE' 'B-EVENT' 'B-FAC' 'B-GPE' 'B-LANGUAGE' 'B-LAW'
 'B-LOC' 'B-MONEY' 'B-NORP' 'B-ORDINAL' 'B-ORG' 'B-PERCENT' 'B-PERSON'
 'B-PRODUCT' 'B-QUANTITY' 'B-TIME' 'B-WORK_OF_ART' 'I-CARDINAL' 'I-DATE'
 'I-EVENT' 'I-FAC' 'I-GPE' 'I-LAW' 'I-LOC' 'I-MONEY' 'I-NORP' 'I-ORG'
 'I-PERCENT' 'I-PERSON' 'I-PRODUCT' 'I-QUANTITY' 'I-TIME' 'I-WORK_OF_ART'
 'O']

In [1403]:
spacy_word_tag = pd.DataFrame({'token': c, 'tag': s_tags})
spacy_word_tag.head()

           token         tag
0      Thousands  B-CARDINAL
1             of           O
2  demonstrators           O
3           have           O
4        marched           O

In [1404]:
spacy_word_tag.to_csv('../data/ner_spacy_aligned.csv')

## Examine performance

In [1658]:
swt = spacy_word_tag

In [1659]:
swt.head()

           token         tag tag2 dftag
0      Thousands  B-CARDINAL    O     O
1             of           O    O     O
2  demonstrators           O    O     O
3           have           O    O     O
4        marched           O    O     O

### Make sure all tokens match

Here we verify that the tokens from our training data match the tokens we created for the Spacy predictions.

In [1660]:
for i, tok in enumerate(swt['token']):
    if tok != df['tidy_word'].iloc[i]:
        print(tok, df['tidy_word'].iloc[i])
        break

### Remove 'I' and 'B' tags

We want to get a preliminary look at the performance and not (at least not yet) worry about which token is used as the starting token.

In [1661]:
df['Tag2'] = df['Tag'].apply(lambda tok: tok.replace('I-', ''))
df['Tag2'] = df['Tag2'].apply(lambda tok: tok.replace('B-', ''))

### Convert Spacy tags

Here we try and translate the Spacy tags to the same representation as our training data.

PERSON:      People, including fictional.<br/>
NORP:        Nationalities or religious or political groups.<br/>
FAC:         Buildings, airports, highways, bridges, etc.<br/>
ORG:         Companies, agencies, institutions, etc.<br/>
GPE:         Countries, cities, states.<br/>
LOC:         Non-GPE locations, mountain ranges, bodies of water.<br/>
PRODUCT:     Objects, vehicles, foods, etc. (Not services.)<br/>
EVENT:       Named hurricanes, battles, wars, sports events, etc.<br/>
WORK_OF_ART: Titles of books, songs, etc.<br/>
LAW:         Named documents made into laws.<br/>
LANGUAGE:    Any named language.<br/>
DATE:        Absolute or relative dates or periods.<br/>
TIME:        Times smaller than a day.<br/>
PERCENT:     Percentage, including ”%“.<br/>
MONEY:       Monetary values, including unit.<br/>
QUANTITY:    Measurements, as of weight or distance.<br/>
ORDINAL:     “first”, “second”, etc.<br/>
CARDINAL:    Numerals that do not fall under another type.

In [1691]:
spacy2ref = {'GPE': 'gpe', 'ORG': 'org', 'PERSON': 'per', 'DATE': 'date',
             'TIME': 'tim', 'EVENT': 'eve', 'LOC': 'geo', 'ORDINAL': 'O',
             'CARDINAL': 'O', 'MONEY': 'O', 'PERCENT': 'O', 'GEO': 'geo', 
             'QUANTITY': 'O', 'FAC': 'geo'}

swt['tag2'] = swt['tag'].apply(lambda tok: tok.replace('I-', ''))
swt['tag2'] = swt['tag2'].apply(lambda tok: tok.replace('B-', ''))
for k in spacy2ref:
    swt['tag2'] = swt['tag2'].apply(lambda tok: tok.replace(k, spacy2ref[k]))

In [1692]:
# Find out how many observations we have for each Spacy tag
swt['tag2'].value_counts()

O              409804
gpe             21965
date            20132
org             17595
per             14008
NORP            10464
geo              3199
eve              1209
tim               883
PRODUCT           251
WORK_OF_ART       248
LAW               196
LANGUAGE           46
Name: tag2, dtype: int64

### Check accuracy

In [1693]:
def findMatches(df, swt):
    """
    Create binary vector of size swt.shape[0] with a one
    for every element where the tags match and a 0 otherwise.
    
    Also return a count of the number of misses and number of matches.
    """
    match_idx = np.zeros(swt.shape[0])
    match = 0
    miss = 0
    for i, tok in enumerate(swt):
        if tok != df.iloc[i]:
            miss += 1
        else:
            match += 1
            match_idx[i] = 1
    
    return (match, miss, match_idx)

In [1694]:
match, miss, match_idx = findMatches(df['Tag2'], swt['tag2'])

Here we see about 85% accuracy. However, this data is quite imbalanced, so we need to check and see if the success is just limited to prediction of the dominant class ('O').

In [1695]:
(match/swt.shape[0], miss/swt.shape[0])

(0.847604, 0.152396)

In [1696]:
# Split data into observations where the tags
# match and observations that do not match
cmp = swt[['token', 'tag2']].copy()
cmp['dftag'] = df['Tag2']
cmp_match = cmp[match_idx == 1]
cmp_miss = cmp[match_idx == 0]

In [1697]:
def missMatchTable(cmp_match, cmp_miss):
    return pd.DataFrame({'miss': cmp_miss['dftag'].value_counts(), 'match': cmp_match['dftag'].value_counts(), 'pct correct': cmp_match['dftag'].value_counts() / (cmp_match['dftag'].value_counts() + cmp_miss['dftag'].value_counts())})

In the table printed below, we can see that the 'geo' and 'gpe' tags are performing terribly. This could be because of differing definitions.

In [1698]:
missMatchTable(cmp_match, cmp_miss)

      miss     match  pct correct
O    18385  398365.0     0.955885
art    366       NaN          NaN
eve    156     192.0     0.551724
geo  21473    1995.0     0.085009
gpe   7771     716.0     0.084364
nat    142       NaN          NaN
org   7605   11144.0     0.594378
per   7031   11081.0     0.611804
tim  13269     309.0     0.022757

In [1699]:
def missTags(cmp_miss, tag_true):
    tag_counts = cmp_miss[cmp_miss['dftag'] == tag_true]['tag2'].value_counts()
    samples = cmp_miss[cmp_miss['dftag'] == tag_true][['token', 'tag2']]
    return tag_counts, samples

As we suspect, most of the "incorrect" 'geo' tags are marked as 'gpe'.

In [1700]:
tag_counts, mistakes = missTags(cmp_miss, 'geo')
tag_counts

gpe            17130
org             1397
O               1355
per              884
NORP             501
eve               69
PRODUCT           56
date              39
WORK_OF_ART       23
tim                8
LAW                6
LANGUAGE           5
Name: tag2, dtype: int64

The table below shows that the vast majority of the tokens "mislabeled" as 'gpe', appear quite reasonably labeled as 'gpe'. It is possible that one of the models is using context better than the other.

The top 50 by count account for more than 50% of the "mislabeled" 'geo' tags.

In [1701]:
mistakes.value_counts().iloc[0:50].sum()

11959

In [1702]:
mistakes.value_counts().iloc[0:50]

token        tag2
US           gpe     1622
Iraq         gpe      884
United       gpe      656
States       gpe      655
Iran         gpe      552
Afghanistan  gpe      506
Israel       gpe      466
China        gpe      439
Baghdad      gpe      398
Pakistan     gpe      377
Russia       gpe      305
Gaza         gpe      254
Korea        gpe      250
Washington   gpe      238
India        gpe      234
New          gpe      186
UN           org      176
Venezuela    gpe      172
Japan        gpe      171
South        gpe      170
North        gpe      170
Lebanon      gpe      160
Syria        gpe      159
Britain      gpe      158
Burma        gpe      145
Somalia      gpe      129
France       gpe      129
Germany      gpe      124
Strip        gpe      116
Cuba         gpe      116
London       gpe      115
Darfur       gpe      115
Beijing      gpe      110
southern     O        104
Sudan        gpe      102
Turkey       gpe       99
Indonesia    gpe       99
Haiti        gpe       97
Moscow       gpe       96
Colombia     gpe       93
Tehran       gpe       91
Ukraine      gpe       87
York         gpe       87
Mexico       gpe       84
Republic     gpe       80
Nigeria      gpe       80
Taiwan       gpe       79
the          O         76
Africa       gpe       75
Egypt        gpe       73
dtype: int64